.slider_banner_foot {
    display: flex;
    padding: 95px 10px 10px 10px;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slider_main_foot {
    transition: transform 0.25s linear;
    display: flex;
    position: relative;
    width: 100%;
}

.slider_item_foot {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.slider_img_foot {
    display: block;
    padding: 0 17px;
    width: 100%;
}

.section-foot {
    margin-top: 55px;
}

.hhh {
    display: flex;
    padding: 50px 10px 10px 100px;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}

.img_user img {
    width: 50%;
    border-radius: 50%;
}

.icon_cmt {
    color: rgb(234, 223, 20);
}

.cmt_user {
    display: flex;
    padding-bottom: 10px;
}

.wrap_user {
    margin-left: -100px;
}

.link_user p {
    max-width: 90%;
}

.link_user_cmt p {
    color: rgb(87, 143, 233);
    margin-top: 10px;
}

.link_user_cmt p a {
    color: rgb(9, 9, 9);
    margin-top: 10px;
}

.new-container {
    margin-top: 5px;
    margin-left: 80px;
}

.blog_fb {
    text-decoration: none;
}

.blog_fb {
    background-color: #f5f5f5;
    height: 50px;
    box-shadow: #e7e7e7 0px -1px 0px 0px;
}

.blog_header_test {
    padding: 10px 0px;
}

.blog_header_test a {
    color: #747474;
    text-decoration: none;
}

.pro-new-fb {
    display: flex;
    padding: 4px 10px 10px 60px;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.prefume_menu_list {
    flex: 0 0 25%;
    margin-top: 30px;
    padding-right: 15px;
}

.prefume_menu_list ul {
    list-style-type: none;
}

.prefume_menu_list li:not(:last-child) {
    border-bottom: 1px dashed #ccc;
}

.top-fb {
    color: rgb(6, 12, 40);
    display: flex;
    padding: 4px 10px 10px 10px;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.prefume_product {
    display: flex;
    width: 100%;
}

.product_list_featured {
    flex: 0 0 75%;
}

.product_item_perfume {
    width: 65%;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.product_img-box {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    /* height: 295px; */
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.product_img-box:hover .product_img-2 {
    opacity: 1;
}

.product_img-box img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
    transition: all .3s ease-in;
}

.product_img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product_list_perfume {
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
}

.product_list_featured h1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    color: var(--title-color);
}

.prefume_menu_list li {
    padding-top: 12px;
    padding-bottom: 12px;
    /* font-size: 1.4rem; */
    font-weight: 500;
    font-size: 92.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.pagination {
    margin: 35px 0 30px 0;
    text-align: end;
}

.pagination_title {
    font-weight: 700;
    margin-right: 10px;
    text-align: center;
}

.page {
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 7px 10px;
    transition: all .25s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background: #747474;
    background-size: 100px 50px;
}

.page:hover {
    background-color: white;
    background-size: 100px 50px;
    color: gray;
}

.introduce_main-wrap {
    padding: 20px 0;
}

.product_details-wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.product_details-left {
    width: 100%;
    display: flex;
    gap: 15px;
}

.details-list-img {
    list-style: none;
    width: 150px;
    height: auto;
    display: block;
}

.active-img {
    border: 3px solid rgb(189, 24, 28);
}

.details_left-img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s linear;
}

.details_left-box {
    overflow: hidden;
    width: 90%;
}

.details-item-img>img {
    max-width: 100%;
    padding-bottom: -10px;
    display: block;
}

.details-item-img {
    cursor: pointer;
    margin-bottom: 8px;
    width: 100%;
    display: block;
    /* border: 3px solid transparent; */
}

.product_details-right {
    width: 45%;
}

.product_details-title {
    font-size: 1.8rem;
    color: rgb(109, 143, 198);
    margin-bottom: 8px;
}

.details_sale-wrap {
    border-top: 1px dotted #dbdbdb;
    border-bottom: 1px dotted #dbdbdb;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.details_sale {
    background-color: #f2f5fa;
    color: #f94c43;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5px 15px;
}

.details_price-origin {
    font-weight: 700;
    font-size: 1.6rem;
}

.details_price-old {
    text-decoration: line-through;
    font-weight: 500;
    color: #777a7b;
}

.details_box-size {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px dotted #dbdbdb;
}

.details_size.isActiveSize {
    background-color: var(--black-color);
    color: var(--white-color);
}

.details_size {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    height: 40px;
    border: 1px solid #dbdbdb;
    color: var(--title-color);
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.details_add-cart {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}

.details_add-cart .btn_add-product {
    margin-right: 15px;
    border: 1px solid #000000;
}

.details_add-cart>button {
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: none;
    padding: 14px 15px;
    line-height: 2.2rem;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

.button {
    position: relative;
    display: inline-block;
    padding: 10px 28px;
    line-height: normal;
    color: #282626;
    border: 1px solid #323232;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
}

.product_desc {
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}

.details-comment {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
}

.comment-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment-form {
    margin-bottom: 20px;
}

.form-control {
    display: flex;
}

.comment-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.comment-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-user {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-note {
    color: #666;
}

.product_related-title {
    position: relative;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-weight: 500;
    color: var(--title-color);
}

.product_related-main {
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

.product_related-main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product_related-main .product_item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
}

.product_item {
    width: 25%;
    max-width: 100%;
    margin-bottom: 20px;
}